.button {
  background-color: var(--accent);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary);
  color: var(--foreground);
}

.button--secondary {
  background-color: var(--primary);
  color: var(--foreground);
}
.button--secondary:hover {
  background-color: var(--secondary);
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
