.button {
  background-color: var(--accent);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--foreground);
  color: var(--accent);
}
