.cart {
  padding: 2rem;
  margin: 0 auto;
  max-width: 600px;
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__item {
  max-height: 110px;
  display: flex;
  gap: 1rem;
  border: 1px solid currentColor;
}

.cart__item img {
  background-color: #ffffff11;
}

.cart__item-info {
  flex: 1;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__item-info h3 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 0;
}

.cart__item-price {
  font-weight: bold;
  font-family: monospace;
}

.cart__item button {
  border-radius: 0%;
  border: none;
  background-color: var(--foreground);
  padding: 1rem;
  cursor: pointer;
}

.cart__total {
  margin-top: 2rem;
  font-weight: bold;
  text-align: end;
}

.cart__buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
