.home {
  text-align: center;
}

.home h2 {
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: bolder;
}

.home p {
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  font-style: italic;
}

.home button {
  margin-top: 20px;
  font-size: 5vw;
  width: 100%;
}