.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ffffff33;
}

.header h1 {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.header a {
  color: inherit;
}

.header__cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #ffffff33;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border-radius: 99px;
}

.header__count {
  background-color: #ffffff33;
  padding: 0.2rem;
  border-radius: 99px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
