:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #7d7278;
  --foreground: #18110a;
  --primary: #a18e5a;
  --accent: #f00001;
  --secondary: #614e09;

  /* --background: #e0c9bc;
  --foreground: #458850;
  --accent: #e065ce;
  --primary: #9acd92;
  --secondary: #a5a5c1; */

  /* --background: #4d844d;
  --foreground: #fdf5af;
  --accent: #93784b;
  --primary: #f806f2;
  --secondary: #0cbde7; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  line-height: 1;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.divide-y > :not(:last-child) {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: currentColor;
}

.divide-x > :not(:last-child) {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: currentColor;
}

.divide > :not(:last-child) {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: currentColor;
}
